# from my.telegram.org/apps
API_ID=20256134
API_HASH=07b91371329b1f16da2d5ca9bbdb38e0

# from @BotFather on telegram
BOT_TOKEN=8577679331:AAGPYU0-USXROHdKxKRdDLrp29uDCjQN_m4
LOGGER_ID=-1002729499101

# mongo url from cloud.mongodb.com
MONGO_URL=MONGO_DB_URI=mongodb+srv://aashishgpt1981_db_user:rmFbSEKJDYmNXhHY@cluster0.lhlbnno.mongodb.net/AashishMusic?retryWrites=true&w=majority

OWNER_ID=8468235914

# pyrogram session from @StringFatherBot on telegram
SESSION=BQE1FYYAfWB_ugAmPBtSElYPar3r_n4_vLxX1ge5FD-zqqC8p3dAB7TGAkMKUKcMA49RQJObSkCpt3O9drcVbcNtWtZIgwvGaMjv8WiCvowkqEQZb8pQVVpknJg8vhPK3w8HuaUOMEooN0PxwTKKm84GpU9OjtE3eSYarO1zy6m0mm3TfAdkJ-cMhOri1Pq3ZsQ99g8I2XI757NEJyNzySc7eIx5DKxqIR9Pl7lUFN6zTn2hjtOIv9fTe0wqzhZUnghGnsFAnziucuh-XTRPAuYX1d-WocAEY89uVHPGcCvxN8C6c45p99OiVLADk_tcEuus2X1pg2phqxjinEokqqB3ja0mewAAAABpVTUNAA
